@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using BethanysPieShopHRM.ComponentsLibrary.Map
@inject IJSRuntime _jsRuntime

<div id="@_elementId" style="height: 100%; width: 100%;"></div>

@code {

    string _elementId = $"map-{Guid.NewGuid():D}";

    [Parameter]
    public double Zoom { get; set; }

    [Parameter]
    public List<Marker> Markers { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync(
            "deliveryMap.showOrUpdate",
            _elementId,
            Markers);
    }

}